---
title: Erie Day of Code | Sign up for updates!
---

.landing-page
  %section.event-info
    %h2.date April 25, 2015
    %p.description
      Erie Day of Code is a one-day event taking place at The Brewerie at Union Station
      on Saturday, April 25th from 9am - 5pm for web developers, computer scientists, creatives,
      and overall tech enthusiasts! Through a series of talks, workshops, open discussions, and a catered lunch,
      we intend to teach and learn about the progression of web development and open source not
      only in Erie, but globally.

  %section.tickets
    %h2 Tickets
    %p
      Tickets are now available and only $15  Seats are limited so get yours soon.
    %p
      %a.button{ :href => 'https://eriedayofcode.ticketleap.com/erie-day-of-code/dates/Apr-25-2015_at_0900AM' }
        Get Your Ticket Now

  %section.schedule
    %h2 Schedule

    .timeslot
      .time 08:00am - 08:50am
      .img
        %i.fa.fa-sign-in
      .info
        %h3 Registration
    .timeslot
      .time 08:50am - 09:00am
      .img
        %i.fa.fa-comment
      .info
        %h3 Opening Statements
    .timeslot
      .time 09:00am - 09:30am
      = partial 'speaker_schedule', locals: { speaker: find_speaker('Nick Quaranto') }
    .timeslot
      .time 09:45pm - 10:15am
      = partial 'speaker_schedule', locals: { speaker: find_speaker('Matt Patterson') }
    .timeslot
      .time 10:30am - 11:00am
      = partial 'speaker_schedule', locals: { speaker: find_speaker('Jeff Koenig') }
    .timeslot
      .time 11:15am - 11:45am
      = partial 'speaker_schedule', locals: { speaker: find_speaker('Chris Geihsler') }
    .timeslot
      .time 12:00pm - 1:00pm
      .img
        %i.fa.fa-cutlery
      .info
        %h3 Lunch provided by The Brewerie
    .timeslot
      .time 01:00pm - 01:30pm
      = partial 'speaker_schedule', locals: { speaker: find_speaker('Carol (Nichols || Goulding)') }
    .timeslot
      .time 01:45pm - 02:45pm
      = partial 'speaker_schedule', locals: { speaker: find_speaker('Matthew Machuga') }
    .timeslot
      .time 03:00pm - 04:00pm
      = partial 'speaker_schedule', locals: { speaker: find_speaker('Oto Hlincik') }
    .timeslot
      .time 04:00pm - 05:00pm
      .img
        %i.fa.fa-heart
      .info
        %h3 Hack Room Breakout Sessions + Hangouts

  %section.speakers
    %h2 Speakers

    %p
      We have an awesome bunch of speakers ready to talk about interesting and fun topics
      and lead engaging workshops. Check out the #{link_to('Speakers', '/speakers.html')}
      page for more information on each speaker and their respective talks.

    %ul
      - speakers.each do |speaker|
        %li
          %a{ :href => "http://twitter.com/#{speaker.twitter}" }
            = image_tag(speaker.image, class: 'speaker-img-small', alt: speaker.name, title: speaker.name)

  %section.attend-professional
    %h2 As a Professional why should I attend?

    %p
      Working with code day in and day out is a fun and intensive undertaking. There are always new tools, languages, or patterns
      to help make your job easier, but it's often hard to keep up or sift through the tools and concepts to find the best of bunch.
      Erie Day of Code gives you a chance to see several talks and participate in workshops to check out some new technology or
      concepts, allows you to connect with peers, both local and regional, and will help you see more of the Erie development community.
      It's just not so easy for us developers to find each other sometimes! Come connect with peers over an included lunch, learn some new things, and meet some new friends.


  %section.attend-student
    %h2 As a Student why should I attend?

    %p
      No matter what year you're in currently at college (or even high school), this event is sure to teach you a whole lot about
      real world development tools and strategies.  Along with numerous talks and hands on workshops, you'll have a chance to connect
      with other students in the area and developers of all levels of experience.  You'll be able to get a peek inside their day-to-day
      tasks, ask them questions about how to get started, and make some new contacts with potential employers.  Take the opporunity to
      sign up for our monthly Ruby user group to stay connected and continue learning modern day concepts and practical application
      while you continue learning all the important theory in your Computer Science or Software Engineering curriculum.  You'll be able
      to draw connections between the material and applying it easier by seeing it used hands on by your peers.

  %section.attend-nondev
    %h2 As someone who isn't a developer why should I attend?

    %p
      Whether you're a project manager, content writer, graphic designer, employer, operations engineer, creative, or just someone considering picking up
      programming as a hobby, this event can offer you something.  You'll have a chance to connect with many different regional developers
      to learn a bit about the development world and see what their day-to-day jobs are like.  You'll get a look into how open source keeps
      the web and software in general pressing forward, understand some new development practices, and get a better grasp on what programming
      entails for the web.

  %section.mailing-list-signup
    %h2 Subscribe to our mailing list for updates and ticket sales
    %form#mailing-list-subscribe-form{:action => "//eriedayofcode.us10.list-manage.com/subscribe/post?u=3fcd98d64025f034a082fe384&id=bb907d9e18", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
      .signup-info
        %input.required.email{:name => "EMAIL", :placeholder => "Email Address", :type => "email", :value => ""}
        %div{:style => "position: absolute; left: -5000px;"}
          %input{:name => "b_3fcd98d64025f034a082fe384_bb907d9e18", :tabindex => "-1", :type => "text", :value => ""}/
        %input.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
    %h4.photo-credit
      Background photo by:
      %a{:href => "https://www.facebook.com/CaseyRandPhotography"} Casey Rand

  %section.venue-info
    %h2 Venue
    %h3.venue-name
      %a{ href: 'http://www.brewerie.com/history.html', target: "_blank" }
        The Brewerie at Union Station in Erie, PA
    %p
      We chose this historical location at Union Station for Erie Day of Code due to its
      beautiful interior and delicious food.  Enjoy lunch on us while
      you learn, socialize, and hack!  The Brewerie is located at
      123 W. 14th St.

    = image_tag 'the-brewerie-small.jpg'
    %p.map <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11837.570322879348!2d-80.08201125396731!3d42.12047818712878!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44c8541781e64571!2sThe+Brewerie+at+Union+Station!5e0!3m2!1sen!2sus!4v1425694980645" width="600" height="450" frameborder="0" style="border:0"></iframe>

  %section.accommodations
    %h2 Where to Stay

    %p
      Coming in from out of town?  No problem!
      Here are some accommodations that are conveniently located within a short walk or drive of #{link_to('The Brewerie at Union Station', '/venue.html')}.

    .accommodation-types
      .hotels
        %h3 Hotel
        %ul
          - accommodations[:hotel].each do |a|
            %h4.name= link_to(a.name, a.url)
            .contact
              :markdown
                #{a.address}
            %p.phone= a.phone

      .bnb
        %h3 Bed and Breakfast
        %ul
          - accommodations[:bnb].each do |a|
            %h4.name= link_to(a.name, a.url)
            .contact
              :markdown
                #{a.address}
            %p.phone= a.phone

    %p If none of these accommodations suit you, check out #{link_to('Visit PA', 'http://www.visiteriepa.com/where-to-stay')}, or email #{mail_to('contact', 'contact@eriedayofcode.com')} and we'll help you make arrangements!


  %section.sponsors
    %h2 A HUGE thank you to our sponsors!

    .sponsor-level
      %h3 Event Partner
      %a{ :href => 'http://atomic74.com' }
        %img.sponsor{ :src => '/images/sponsors/tungsten-logo.png', :title => 'Tungsten Creative Group' }

    .sponsor-level
      %h3 Gold Sponsors
      %a{ :href => 'http://thinkthroughmath.com' }
        %img.sponsor{ :src => '/images/sponsors/ttm-logo.png', :title => 'Think Through Math' }
      %a{ :href => 'http://erieinsurance.com' }
        %img.sponsor{ :src => '/images/sponsors/ei-logo.png', :title => 'Erie Insurance' }

    .sponsor-level
      %h3 Silver Sponsors
      %a{ :href => 'http://werkbot.com' }
        %img.sponsor{ :src => '/images/sponsors/werkbot-logo.png', :title => 'Werkbot' }
      %a{ :href => 'http://envoyer.io' }
        %img.sponsor{ :src => '/images/sponsors/envoyer-logo.png', :title => 'Envoyer' }
      %a{ :href => 'http://vehikl.com' }
        %img.sponsor{ :src => '/images/sponsors/vehikl-logo.png', :title => 'Vehikl' }

    .sponsor-level
      %h3 Bronze Sponsors
      %a{ :href => 'http://ourtists.com' }
        %img.sponsor{ :src => '/images/sponsors/ourtists-logo.png', :title => 'Ourtists LLC' }
      %a{ :href => 'http://htmelvis.com' }
        %img.sponsor{ :src => '/images/sponsors/htmelvis-logo.png', :title => 'Htmelvis' }
