---
title: Speakers | Erie Day of Code
---

.speakers
  %h1 Speakers

  %p
    Erie Day of Code is proud to be hosting some speakers to blah blah blah
    I need better filler content

  - speakers.each do |speaker|
    .speaker
      = image_tag(speaker.image, class: 'speaker-image')
      %h2.speaker-name= speaker.name
      %h3.talk-title= speaker.talk_title
      %p.about= speaker.about
      %p.abstract= speaker.abstract

